.box-product-area {
  padding: 30px 90px 0 20px;
}

.food-wrapper {
  width: 100%;
  border: #252836 solid 2px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
  border-radius: 8px;
  margin: auto;
  padding-bottom: 80px;
  height: 45vh;
  animation: fadeIn 0.5s;
}

.food-wrapper img {
  width: 50%;
  border-radius: 50%;
  margin-top: 20px;
}

.food-wrapper h1 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  width: 50%;
  margin-top: 10px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
  height: 10vh;
  padding-top: 10px;
}

.food-wrapper span {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #abbbc2;
  /* padding-bottom: 80px; */
}

.stock-product {
  display: flex;
  justify-content: center;
}

.dot-icon {
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #abbbc2;
  margin: 0 3px 0 3px;
}

.add-wrapper {
  border-radius: 0px 0px 8px 8px;
  padding: 12px 12px 12px 12px;
  cursor: pointer;
  color: #ffca40;
  border: 1px dashed #ffca40;
  border-radius: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.add-wrapper h1 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffca40;
  order: 1;
  flex-grow: 0;
}

.add-icon {
  font-size: 20px;
  color: #ffca40;
  margin-top: 17vh;
  margin-bottom: 20px;
}

.edit-box {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #6c5b2f;
  border-radius: 0px 0px 8px 8px;
  padding: 12px 12px 12px 12px;
  align-items: center;
  cursor: pointer;
}

.edit-box span {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #ffca40;
}

.divider-setting-bottom {
  content: "";
  background: #1f1d2b;
  width: 90%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 120px;
  border-top: 1px solid #252836;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
