.bg-home {
  min-height: 100vh;
  background: #252836;
}

.center-content {
  position: fixed;
  width: 57%;
  left: 105px;
  top: 20px;
  padding: 20px 20px 20px 20px;
}

.top-wrapper:nth-child(odd) {
  display: flex;
  justify-content: space-between;
}

.top-wrapper:nth-child(even) {
  display: flex;
}

.nav-food {
  color: white;
  padding-right: 30px;
  font-family: "Barlow";
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.nav-food-active {
  color: #ffca40;
}

.nav-food:focus {
  color: #ffca40;
}

.nav-food-active::after {
  content: "";
  display: flex;
  width: 100%;
  border: 1px solid #ffca40;
  background: #ffca40;
  margin-top: 10px;
}

.nav-food:focus::after {
  content: "";
  display: flex;
  width: 100%;
  border: 1px solid #ffca40;
  background: #ffca40;
  margin-top: 10px;
}

.nav-food:hover {
  color: #ffca40;
}

.top-text-wrapper h1 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: #ffffff;
}

.top-text-wrapper span {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #e0e6e9;
}

.search-area {
  align-self: center;
  position: relative;
  box-sizing: border-box;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 14px;
  gap: 8px;
  width: 225px;
  height: 48px;
  background: #2d303e;
  border: 1px solid #393c49;
  border-radius: 8px;
  order: 1;
  flex-grow: 0;
}

.search {
  border: none;
  border-color: transparent;
  background: transparent;
  outline: transparent;
  position: absolute;
  top: 10px;
  left: 35px;
  color: #abbbc2;
}

.search::placeholder {
  width: 164px;
  height: 20px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #abbbc2;
  order: 1;
  flex-grow: 0;
}

.search-icon {
  position: absolute;
  font-size: 20px;
  color: white;
  left: 5px;
  top: 6px;
  outline: transparent;
  border: none;
  background: transparent;
}

.divider {
  content: "";
  width: 100%;
  border: 1px solid #393c49;
  background: #393c49;
  margin-top: -2px;
}
