.bg-dashboard {
  min-height: 100vh;
  background: #252836;
}

.content-dashboard-center {
  position: absolute;
  width: 58%;
  left: 130px;
  top: 0;
}

.header-dashboard {
  padding: 15px 0 20px 0;
  border-bottom: 1px solid #393c49;
  margin-bottom: 20px;
}

.header-dashboard h1,
.header-dashboard span {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.header-dashboard h1 {
  font-size: 28px;
  color: #ffffff;
}

.header-dashboard span {
  font-size: 16px;
  color: #abbbc2;
}

.total-revenue-wrapper {
  background: #1f1d2b;
  border-radius: 8px;
  padding: 12px 15px 12px 15px;
  margin-bottom: 20px;
}

.top-inside-revenue {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.icon-revenue {
  background: #252836;
  border-radius: 8px;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.dollar {
  color: #9288e0;
}
.bookmark {
  color: #ffb572;
}
.people {
  color: #65b0f6;
}

.revenue-number {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #50d1aa;
  margin: 0 10px 0 10px;
}

.icon-2-revenue {
  display: flex;
  align-items: center;
  border-radius: 20px;
  font-size: 18px;
  padding: 5px;
}

.up {
  color: #50d1aa;
  background: rgba(136, 224, 145, 0.24);
}

.down {
  background: rgba(255, 100, 113, 0.24);
  color: #ff7ca3;
}

.revenue-price {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: #ffffff;
}

.text-total-revenue {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #abbbc2;
}

.order-fix::-webkit-scrollbar {
  display: none;
}

.order-report-wrapper {
  background: #1f1d2b;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
  padding: 30px 20px 20px 25px;
  position: relative;
  height: calc(100vh - 320px);
}

.order-fix {
  height: 350px;
  overflow-y: scroll;
  position: fixed;
  padding-top: 100px;
  width: 55%;
}

.order-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 20px 0 20px;
}

.order-title-general {
  background: #1f1d2b;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.order-title-wrapper h1 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}

.btn-filter {
  border-radius: 10px;
  border: 1px solid #393c49;
  background: transparent;
  width: 12%;
  padding: 10px;
  display: flex;
  align-items: center;
}

.order-title-wrapper .filter-icon {
  font-size: 20px;
  color: white;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.order-title-wrapper .text-filter {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

table {
  width: 100%;
}

table th {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  padding: 10px 0 15px 25px;
  border-bottom: 1px solid #393c49;
  position: sticky;
  top: 0;
}

table thead,
table tbody {
  display: block;
}

table thead th:nth-child(1),
table tbody td:nth-child(1) {
  width: 250px;
}

table thead th:nth-child(2),
table tbody td:nth-child(2) {
  width: 350px;
}

table thead th:nth-child(3),
table tbody td:nth-child(3) {
  width: 200px;
}

table thead th:nth-child(4),
table tbody td:nth-child(4) {
  width: 310px;
  padding-right: 80px;
}

/* (B) LIMIT HEIGHT & SET OVERFLOW */
table tbody {
  max-height: calc(100vh - 480px);
  overflow: auto;
}

table td {
  padding: 0px 0 15px 25px;
}

.table-order tbody::-webkit-scrollbar {
  display: none;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #65b0f6;
  margin-right: 10px;
}

table td span {
  /* Body / Normal - Regular */

  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  /* Text / Lighter */
  color: #e0e6e9;
}

.divider-table {
  content: "";
  width: 100%;
  height: 1px;
  background: #ffffff;
  border: 1px solid #393c49;
  position: absolute;
  bottom: 0;
}

.tableHead-wrapper span {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
}

.customer-table {
  display: flex;
  align-items: center;
  position: relative;
}

.customer-table {
  background-color: orange;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.text-table,
.customer-table p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #e0e6e9;
  margin-top: 15px;
  word-break: break-all;
}

.status-table {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 30px;
  padding: 4px 12px;
  max-width: 100%;
  text-align: center;
  margin-top: 15px;
}

.completed {
  color: #50d1aa;
  background: rgba(107, 226, 190, 0.24);
}
.preparing {
  color: #9290fe;
  background: rgba(146, 144, 254, 0.2);
}
.pending {
  color: #ffb572;
  background: rgba(255, 181, 114, 0.2);
}

.most-ordered-wrapper {
  background: #1f1d2b;
  position: fixed;
  right: 30px;
  top: 30px;
  width: 30%;
  border-radius: 8px;
}

.top-most-order {
  display: flex;
  padding: 20px 20px 20px 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.top-most-order h1 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.most-food-wrapper {
  padding: 10px 20px 10px 20px;
}

.most-food-wrapper img {
  border-radius: 50%;
  width: 60%;
}
