.bg-navbar {
  position: fixed;
  width: 104px;
  min-height: 100vh;
  left: 0;
  top: 0;
  background: #1f1d2b;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  z-index: 1;
}

.menu-navbar {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.brand-icon-wrapper {
  width: 94px;
  height: 75px;
  margin: 20px 10px 10px 10px;
  border-radius: 12px 0px 0px 12px;
  position: relative;
  cursor: default;
}

.brand-icon {
  color: #ffca40;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 10px;
  width: 56px;
  height: 56px;
  margin-top: 9px;
  margin-left: 10px;
  background: rgb(129, 86, 7);
  box-shadow: 0px 8px 24px rgba(255, 202, 64, 0.32);
  border-radius: 8px;
}

.brand-icon img {
  width: 100%;
}

.logo-icon:hover {
  color: none;
}

.icon-navbar-wrapper {
  width: 94px;
  height: 75px;
  margin: 20px 10px 10px 10px;
  border-radius: 12px 0px 0px 12px;
  position: relative;
}

.icon-navbar-active {
  background: #252836;
}

.icon-navbar-active + .icon-navbar-wrapper::after {
  background-image: url("../../public/images/Content/Rectangle\ 25.png");
  content: "";
  position: absolute;
  top: -31px;
  left: 82px;
  width: 12.02px;
  height: 12px;
}

.icon-navbar-active + .icon-navbar-wrapper::before {
  background-image: url("../../public/images/Content/Rectangle\ 25.png");
  content: "";
  position: absolute;
  top: -116px;
  left: 83px;
  width: 12.02px;
  height: 12px;
  transform: rotate(90deg);
}

.icon-navbar-active > .icon-navbar {
  color: white;
  background: #ffca40;
  box-shadow: 0px 8px 24px rgba(255, 202, 64, 0.32);
  border-radius: 8px;
}

.icon-navbar-wrapper:focus {
  background: #252836;
}

.icon-navbar-wrapper:focus + .icon-navbar-wrapper::after {
  background-image: url("../../public/images/Content/Rectangle\ 25.png");
  content: "";
  position: absolute;
  top: -31px;
  left: 82px;
  width: 12.02px;
  height: 12px;
}

.icon-navbar-wrapper:focus + .icon-navbar-wrapper::before {
  background-image: url("../../public/images/Content/Rectangle\ 25.png");
  content: "";
  position: absolute;
  top: -116px;
  left: 83px;
  width: 12.02px;
  height: 12px;
  transform: rotate(90deg);
}

.icon-navbar {
  color: #ffca40;
  font-size: 30px;
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 10px;
  width: 56px;
  height: 56px;
  margin-top: 9px;
  margin-left: 10px;
  background: transparent;
  box-shadow: none;
  border-radius: 8px;
  transition: all 0.5s;
}

.icon-navbar-wrapper:focus > .icon-navbar {
  color: white;
  background: #ffca40;
  box-shadow: 0px 8px 24px rgba(255, 202, 64, 0.32);
  border-radius: 8px;
}

.icon-navbar:hover {
  color: white;
}

.icon-logout-wrapper {
  width: 94px;
  height: 75px;
  margin: 20px 10px 10px 10px;
  border-radius: 12px 0px 0px 12px;
  background: transparent;
  border: none;
  position: absolute;
  bottom: 0;
}

.icon-logout {
  color: #ffca40;
  font-size: 30px;
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 10px;
  width: 56px;
  height: 56px;
  margin-left: 5px;
  background: transparent;
  box-shadow: none;
  border-radius: 8px;
}
